name: Build and Test
on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance

    steps:
      - name: Start PostgreSQL
        if: env.POSTGRESQL == 'true'
        run: |
          sudo systemctl start postgresql.service
          pg_isready

      - name: Create additional PostgreSQL user
        if: env.POSTGRESQL == 'true'
        run: sudo -u postgres psql --command="CREATE USER \"user\" PASSWORD 'password' SUPERUSER CREATEDB REPLICATION" --command="\du"

      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version: "lts/*"

      - name: Verify & Build
        run: npx concurrently --kill-others-on-fail -g -c auto -n '    Audit   ,Dependencies,    Check   ,    Test    ,    Build   ' 'audit-ci -c' 'knip' 'biome ci .' 'pnpm test' 'pnpm build'

      - name: Release
        if: (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master') && github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpx semantic-release
